### Heart Disease Dataset
ref: [https://archive.ics.uci.edu/ml/datasets/Heart+Disease](https://archive.ics.uci.edu/ml/datasets/Heart+Disease)

#### Features

    Dataset has 76 total attributes - 14 attributes are used:
    1. #3 (age)
    2. #4 (sex)
    3. #9 (cp)
    4. #10 (trestbps)
    5. #12 (chol)
    6. #16 (fbs)
    7. #19 (restecg)
    8. #32 (thalach)
    9. #38 (exang)
    10. #40 (oldpeak)
    11. #41 (slope)
    12. #44 (ca)
    13. #51 (thal)
    14. #58 (num) (the predicted attribute - 0 is healthy and 1,2,3,4 indicate heart disease)

### Implement Decision Trees

#### Import the dataset into a pandas dataframe:

In [56]:
import pandas as pd

In [57]:
df = pd.read_csv('../DAT-NYC-29/data/heart_disease.csv')

In [58]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeck,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

#### Prepare and validate the data:

#### Investigate the data and check for missing values - try .info() and .isnull() with

In [61]:
df['ca'] = df.fillna(df.ca.mean)

In [62]:
df['thal'] = df.fillna(df.thal.mean)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeck     303 non-null float64
slope       303 non-null int64
ca          303 non-null float64
thal        303 non-null float64
num         303 non-null int64
dtypes: float64(3), int64(11)
memory usage: 35.5 KB

#### Clean the data to ensure it can be used in a decision tree

In [64]:
cols = df.columns

#### Select Features and convert Target to Boolean Class for Heart Disease (i.e., values 1, 2, 3 and 4 all indicate heart disease)

In [67]:
def is_cancer(cancer_value):
    if cancer_value > 0:
        return True
    else:
        return False

In [68]:
for row in df:
    df['num'] = is_cancer(row)

In [70]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeck,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,63,63,True
1,67,1,4,160,286,0,2,108,1,1.5,2,67,67,True
2,67,1,4,120,229,0,2,129,1,2.6,2,67,67,True
3,37,1,3,130,250,0,0,187,0,3.5,3,37,37,True
4,41,0,2,130,204,0,2,172,0,1.4,1,41,41,True

#### Build the model and score with cross-validation

In [166]:
from sklearn.cross_validation import cross_val_score
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)
cross_val_score(clf, df., iris.target, cv=10)

#### How important are the various features?